body {
    margin: 0px;
    font-family: 'Lucida Sans', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #667eea;
}

.cabecera {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    font-size: 20px
}

.cabecera div {
    display: flex;
    align-items: center;
}

.mangueras {
    width: 600px;
    position: absolute;
    padding-top: 40px;
}
    
.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 20px;
    font-weight: bold;
    padding: 6px 20px;
}

.menu ul li:hover {
    opacity: 0.5;
}

.menu ul li a {
    text-decoration: none;
    color: #667eea;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: #667eea;
}

.login a:hover {
    opacity: 0.5;
}

.portada {
    display: flex;
    justify-content: center;
    background-image: url(assets/12ca0a242c88a67124011f7821a84beb.jpg);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fechas {
    text-align: center;
    font-size: 30px;
    color: #667eea;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#bandas {
    color: #667eea;
    text-align: center;
    font-size: 30px;    
    margin-top: 100px;
    margin-bottom: 50px;
}

#containerArtistas {
    margin: 0 auto;
    display: grid;
    grid-gap: 7rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    font-size: 30px;
    font-weight: bold;    
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.Banda1 {
    color: #667eea;
    height: 300px;
    text-align: center;
}

.Banda2 {
    color: #667eea;
    height: 300px;  
    text-align: center;
}

.Banda3 {
    color: #667eea;
    height: 300px;
    text-align: center;
}

.Banda4 {
    color: #667eea;
    height: 300px;
    text-align: center;
}

.Banda5 {
    color: #667eea;
    height: 300px;
    text-align: center;
}

.Banda6 {
    color: #667eea;
    height: 300px;
    text-align: center;
}

#containerArtistas img {
    height: 230px;
    width: auto;
}

#entradas {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 70px;
}

#entradas img {
    height: 50%;
    width: 100%;
}

#entradas p {    
    margin-top: 0px;
    margin-bottom: 5px;
}

.entrada {
    height: 600px;
    text-align: center;
    background-color: #0f0c29;
}

button {
    padding: 5px 30px;
    border-radius: 20px;
    border: 1px solid #667eea;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    opacity: 0.5;
}

.footer {
    text-align: right;
    padding: 20px;
}














@media (min-width:320px) and (max-width:480px) {
    .menu {
        display: none;
    }
    .cabecera {
        justify-content: flex-end;
        padding-right: 20px;
        height: 80px;
    }
    .mangueras {
        width: 100%;
    }
    .portada {
        height: 550px;
    }
    .fechas {
        color: #667eea;
        width: 200px;
        padding: 2rem;
    }
    .fechas .cuando {
        display: none;
    }
    #bandas {
        display: none;
    }
    #containerArtistas {
        grid-gap: 5rem;
        grid-template-columns: 1fr;
    }
    #containerArtistas img {
        width: 100%;
    }
    #entradas {
        grid-gap: 3rem;
        grid-template-columns: 1fr;
        padding: 40px;
    }
}

@media (min-width: 481px) and (max-width:768px) {
    .menu {
        display: none;
    }
    .cabecera {
        justify-content: flex-end;
        padding-right: 20px;
        height: 80px;
    }
    .mangueras {
        width: 100%;
    }
    .fechas .cuando {
        display: none;
    }
    .fechas {
        color: #667eea;
        width: 200px;
        padding: 2rem;
    }
    #containerArtistas img {
        width: 75%;
    }
    #containerArtistas {
        grid-gap: 5rem;
        grid-template-columns: 1fr;
    }
    #entradas {
        grid-gap: 3rem;
        grid-template-columns: 1fr;
        padding: 40px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .cabecera {
        font-size: 15px
    }
    .mangueras {
        width: 100%;
    }
    .portada {
        height: 550px;
    }
    .fechas {
        height: 100%;        
        width: 400px;
        padding: 2rem;
    }
    .fechas .cuando {
        display: block;
    }
    #containerArtistas {
        grid-gap: 5rem;
        grid-template-columns: 1fr;
    }
    #containerArtistas {
        width: 75%;
    }
    #entradas {
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
    }
    .entrada {
    height: 500px;
    }
}

@media (min-width:1025px) and (max-width:1200px){
    .cabecera {
        font-size: 15px
    }
    .mangueras {
        width: 80%;
    }
    .portada {
        height: 550px;
    }
    .fechas {
        height: 100%;
        width: 500px;
        padding: 2rem;
    }
    .fechas .cuando {
        display: block;
    }
    #containerArtistas {
        grid-gap: 5rem;
        grid-template-columns: 1fr 1fr;
    }
    #entradas {
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
    }
    .entrada {
    height: 500px;
    }
}
